<div class=" bg-secondary-light dark:bg-primary-dark transition duration-300">
  <div>
    <div>
      <div class="container mx-auto">
        <div class="block sm:flex sm:gap-10 mt-10 sm:mt-20">
          <div class="w-full sm:w-1/4 mb-7 sm:mb-0"><img alt="Profile Image"
              srcSet="assets/images/profile.jpeg?&amp;w=256&amp;q=75 1x, assets/images/profile.jpeg?&amp;w=640&amp;q=75 2x"
              src="assets/images/profile.jpeg?&amp;w=640&amp;q=75" width="200" height="200" decoding="async"
              data-nimg="1" class="rounded-lg" loading="lazy" style="color:transparent" /></div>
          <div class="font-general-regular w-full sm:w-3/4 text-left">
            <p class="mb-4 text-ternary-dark dark:text-ternary-light text-lg">
              I am a highly accomplished Full Stack Developer with a rich and diverse skill set spanning both frontend
              and backend technologies. With a deep-rooted passion for web and mobile application development, I bring
              to the table an extensive knowledge of programming utilities and languages. Proficient in HTML5, CSS3,
              JavaScript, TypeScript, and a spectrum of frameworks including Angular, React, Express.js, and Next.js, I
              possess the versatility to excel in multifaceted projects.
            </p>
            <p class="mb-4 text-ternary-dark dark:text-ternary-light text-lg">

              My professional journey has been marked by remarkable achievements, including the successful delivery of
              complex software projects within stipulated timelines and budgets. My dedication to precision and
              unwavering commitment to high customer satisfaction have consistently driven project success. Furthermore,
              my ability to troubleshoot, administer databases, and implement stringent security measures positions me
              as a dependable and dynamic developer in today's ever-evolving tech landscape.
            </p>
            <p class="mb-4 text-ternary-dark dark:text-ternary-light text-lg">

              In addition to my technical prowess, I take pride in my analytical thinking, robust problem-solving
              skills, and clear communication abilities. I am confident that my profound expertise and collaborative
              mindset make me an invaluable asset to any development team, and I am eager to contribute to projects that
              demand innovation, scalability, and excellence in web and mobile application development.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="mt-10 sm:mt-20 bg-primary-light dark:bg-ternary-dark shadow-sm">
          <div class="font-general-medium container mx-auto py-5 block sm:flex sm:justify-center items-center">
            <div class="m-20">
              <h2 class="text-4xl text-center text-secondary-dark dark:text-secondary-light mb-2">5+<span
                  id="experienceCounter"></span> </h2><span
                class="font-general-regular block text-md text-center text-ternary-dark dark:text-ternary-light">Years
                of experience</span>
            </div>
            <!-- <div class="mb-20 sm:mb-0">
              <h2 class="text-4xl text-center text-secondary-dark dark:text-secondary-light mb-2"><span
                  id="githubStarsCounter"></span> k+</h2><span
                class="font-general-regular block text-md text-center text-ternary-dark dark:text-ternary-light">Stars
                on GitHub</span>
            </div>
            <div class="mb-20 sm:mb-0">
              <h2 class="text-4xl text-center text-secondary-dark dark:text-secondary-light mb-2"><span
                  id="feedbackCounter"></span> %</h2><span
                class="font-general-regular block text-md text-center text-ternary-dark dark:text-ternary-light">Positive
                feedback</span>
            </div> -->
            <div class="m-20">
              <h2 class="text-4xl text-center text-secondary-dark dark:text-secondary-light mb-2">30+<span
                  id="projectsCounter"></span></h2><span
                class="font-general-regular block text-md text-center text-ternary-dark dark:text-ternary-light">Projects
                completed</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="container mx-auto">
        <div class="mt-10 sm:mt-20">
          <p class="font-general-medium text-2xl sm:text-3xl text-center text-primary-dark dark:text-primary-light">
            Some of the brands I worked with</p>
          <div class="grid grid-cols-2 sm:grid-cols-4 mt-10 sm:mt-14 gap-2">
            <div
              class="py-5 px-10 border bg-secondary-light border-ternary-light dark:border-ternary-dark shadow-sm rounded-lg mb-5 cursor-pointer">
              <img alt="Amazon" sizes="100vw"
                srcSet="assets/images/brands/amazon_gray.png?&amp;w=640&amp;q=75 640w, assets/images/brands/amazon_gray.png?&amp;w=750&amp;q=75 750w, assets/images/brands/amazon_gray.png?&amp;w=828&amp;q=75 828w, assets/images/brands/amazon_gray.png?&amp;w=1080&amp;q=75 1080w, assets/images/brands/amazon_gray.png?&amp;w=1200&amp;q=75 1200w, assets/images/brands/amazon_gray.png?&amp;w=1920&amp;q=75 1920w, assets/images/brands/amazon_gray.png?&amp;w=2048&amp;q=75 2048w, assets/images/brands/amazon_gray.png?&amp;w=3840&amp;q=75 3840w"
                src="assets/images/brands/amazon_gray.png?&amp;w=3840&amp;q=75" width="100" height="50" decoding="async"
                data-nimg="1" loading="lazy" style="color:transparent;width:100%;height:auto" />
            </div>
            <div
              class="py-5 px-10 border bg-secondary-light border-ternary-light dark:border-ternary-dark shadow-sm rounded-lg mb-5 cursor-pointer">
              <img alt="Sony" sizes="100vw"
                srcSet="assets/images/brands/sony_gray.png?&amp;w=640&amp;q=75 640w, assets/images/brands/sony_gray.png?&amp;w=750&amp;q=75 750w, assets/images/brands/sony_gray.png?&amp;w=828&amp;q=75 828w, assets/images/brands/sony_gray.png?&amp;w=1080&amp;q=75 1080w, assets/images/brands/sony_gray.png?&amp;w=1200&amp;q=75 1200w, assets/images/brands/sony_gray.png?&amp;w=1920&amp;q=75 1920w, assets/images/brands/sony_gray.png?&amp;w=2048&amp;q=75 2048w, assets/images/brands/sony_gray.png?&amp;w=3840&amp;q=75 3840w"
                src="assets/images/brands/sony_gray.png?&amp;w=3840&amp;q=75" width="100" height="50" decoding="async"
                data-nimg="1" loading="lazy" style="color:transparent;width:100%;height:auto" />
            </div>
            <div
              class="py-5 px-10 border bg-secondary-light border-ternary-light dark:border-ternary-dark shadow-sm rounded-lg mb-5 cursor-pointer">
              <img alt="Adidas" sizes="100vw"
                srcSet="assets/images/brands/adidas_gray.png?&amp;w=640&amp;q=75 640w, assets/images/brands/adidas_gray.png?&amp;w=750&amp;q=75 750w, assets/images/brands/adidas_gray.png?&amp;w=828&amp;q=75 828w, assets/images/brands/adidas_gray.png?&amp;w=1080&amp;q=75 1080w, assets/images/brands/adidas_gray.png?&amp;w=1200&amp;q=75 1200w, assets/images/brands/adidas_gray.png?&amp;w=1920&amp;q=75 1920w, assets/images/brands/adidas_gray.png?&amp;w=2048&amp;q=75 2048w, assets/images/brands/adidas_gray.png?&amp;w=3840&amp;q=75 3840w"
                src="assets/images/brands/adidas_gray.png?&amp;w=3840&amp;q=75" width="100" height="50" decoding="async"
                data-nimg="1" loading="lazy" style="color:transparent;width:100%;height:auto" />
            </div>
            <div
              class="py-5 px-10 border bg-secondary-light border-ternary-light dark:border-ternary-dark shadow-sm rounded-lg mb-5 cursor-pointer">
              <img alt="FILA" sizes="100vw"
                srcSet="assets/images/brands/fila_gray.png?&amp;w=640&amp;q=75 640w, assets/images/brands/fila_gray.png?&amp;w=750&amp;q=75 750w, assets/images/brands/fila_gray.png?&amp;w=828&amp;q=75 828w, assets/images/brands/fila_gray.png?&amp;w=1080&amp;q=75 1080w, assets/images/brands/fila_gray.png?&amp;w=1200&amp;q=75 1200w, assets/images/brands/fila_gray.png?&amp;w=1920&amp;q=75 1920w, assets/images/brands/fila_gray.png?&amp;w=2048&amp;q=75 2048w, assets/images/brands/fila_gray.png?&amp;w=3840&amp;q=75 3840w"
                src="assets/images/brands/fila_gray.png?&amp;w=3840&amp;q=75" width="100" height="50" decoding="async"
                data-nimg="1" loading="lazy" style="color:transparent;width:100%;height:auto" />
            </div>
            <div
              class="py-5 px-10 border bg-secondary-light border-ternary-light dark:border-ternary-dark shadow-sm rounded-lg mb-5 cursor-pointer">
              <img alt="NB" sizes="100vw"
                srcSet="assets/images/brands/nb_gray.png?&amp;w=640&amp;q=75 640w, assets/images/brands/nb_gray.png?&amp;w=750&amp;q=75 750w, assets/images/brands/nb_gray.png?&amp;w=828&amp;q=75 828w, assets/images/brands/nb_gray.png?&amp;w=1080&amp;q=75 1080w, assets/images/brands/nb_gray.png?&amp;w=1200&amp;q=75 1200w, assets/images/brands/nb_gray.png?&amp;w=1920&amp;q=75 1920w, assets/images/brands/nb_gray.png?&amp;w=2048&amp;q=75 2048w, assets/images/brands/nb_gray.png?&amp;w=3840&amp;q=75 3840w"
                src="assets/images/brands/nb_gray.png?&amp;w=3840&amp;q=75" width="100" height="50" decoding="async"
                data-nimg="1" loading="lazy" style="color:transparent;width:100%;height:auto" />
            </div>
            <div
              class="py-5 px-10 border bg-secondary-light border-ternary-light dark:border-ternary-dark shadow-sm rounded-lg mb-5 cursor-pointer">
              <img alt="SAMSUNG" sizes="100vw"
                srcSet="assets/images/brands/samsung_gray.png?&amp;w=640&amp;q=75 640w, assets/images/brands/samsung_gray.png?&amp;w=750&amp;q=75 750w, assets/images/brands/samsung_gray.png?&amp;w=828&amp;q=75 828w, assets/images/brands/samsung_gray.png?&amp;w=1080&amp;q=75 1080w, assets/images/brands/samsung_gray.png?&amp;w=1200&amp;q=75 1200w, assets/images/brands/samsung_gray.png?&amp;w=1920&amp;q=75 1920w, assets/images/brands/samsung_gray.png?&amp;w=2048&amp;q=75 2048w, assets/images/brands/samsung_gray.png?&amp;w=3840&amp;q=75 3840w"
                src="assets/images/brands/samsung_gray.png?&amp;w=3840&amp;q=75" width="100" height="50"
                decoding="async" data-nimg="1" loading="lazy" style="color:transparent;width:100%;height:auto" />
            </div>
            <div
              class="py-5 px-10 border bg-secondary-light border-ternary-light dark:border-ternary-dark shadow-sm rounded-lg mb-5 cursor-pointer">
              <img alt="CANON" sizes="100vw"
                srcSet="assets/images/brands/canon_gray.png?&amp;w=640&amp;q=75 640w, assets/images/brands/canon_gray.png?&amp;w=750&amp;q=75 750w, assets/images/brands/canon_gray.png?&amp;w=828&amp;q=75 828w, assets/images/brands/canon_gray.png?&amp;w=1080&amp;q=75 1080w, assets/images/brands/canon_gray.png?&amp;w=1200&amp;q=75 1200w, assets/images/brands/canon_gray.png?&amp;w=1920&amp;q=75 1920w, assets/images/brands/canon_gray.png?&amp;w=2048&amp;q=75 2048w, assets/images/brands/canon_gray.png?&amp;w=3840&amp;q=75 3840w"
                src="assets/images/brands/canon_gray.png?&amp;w=3840&amp;q=75" width="100" height="50" decoding="async"
                data-nimg="1" loading="lazy" style="color:transparent;width:100%;height:auto" />
            </div>
            <div
              class="py-5 px-10 border bg-secondary-light border-ternary-light dark:border-ternary-dark shadow-sm rounded-lg mb-5 cursor-pointer">
              <img alt="PUMA" sizes="100vw"
                srcSet="assets/images/brands/puma_gray.png?&amp;w=640&amp;q=75 640w, assets/images/brands/puma_gray.png?&amp;w=750&amp;q=75 750w, assets/images/brands/puma_gray.png?&amp;w=828&amp;q=75 828w, assets/images/brands/puma_gray.png?&amp;w=1080&amp;q=75 1080w, assets/images/brands/puma_gray.png?&amp;w=1200&amp;q=75 1200w, assets/images/brands/puma_gray.png?&amp;w=1920&amp;q=75 1920w, assets/images/brands/puma_gray.png?&amp;w=2048&amp;q=75 2048w, assets/images/brands/puma_gray.png?&amp;w=3840&amp;q=75 3840w"
                src="assets/images/brands/puma_gray.png?&amp;w=3840&amp;q=75" width="100" height="50" decoding="async"
                data-nimg="1" loading="lazy" style="color:transparent;width:100%;height:auto" />
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>