<div class="bg-secondary-light dark:bg-primary-dark transition duration-300">
  <div>
    <div>
      <div class="container mx-auto">
        <div class="block sm:flex sm:gap-10 mt-10 sm:mt-20">
          <div class="w-full sm:w-1/4 mb-7 sm:mb-0">
            <img
              alt="Profile Image"
              srcSet="assets/images/profile.jpg?&amp;w=256&amp;q=75 1x, assets/images/profile.jpg?&amp;w=640&amp;q=75 2x"
              src="assets/images/profile.jpg?&amp;w=640&amp;q=75"
              width="200"
              height="200"
              decoding="async"
              data-nimg="1"
              class="rounded-lg"
              loading="lazy"
              style="color: transparent"
            />
          </div>
          <div class="font-general-regular w-full sm:w-3/4 text-left">
            <p class="mb-4 text-ternary-dark dark:text-ternary-light text-lg">
              Greetings! I'm a skilled Flutter Developer, well-versed in the
              intricacies of mobile application development. My journey revolves
              around a deep passion for crafting engaging and efficient mobile
              apps, backed by a solid understanding of programming languages and
              utilities. I'm proficient in Dart, Flutter, and well-acquainted
              with various libraries and frameworks, including Provider and
              GetX, enabling me to thrive in diverse and challenging Flutter
              projects.
            </p>
            <p class="mb-4 text-ternary-dark dark:text-ternary-light text-lg">
              My professional track record boasts successful deliveries of
              complex Flutter projects, always meeting timelines and staying
              within budget constraints. I pride myself on unwavering commitment
              to precision and customer satisfaction, qualities that
              consistently drive the success of the projects I undertake.
              Additionally, my skills in troubleshooting, database
              administration, and implementing robust security measures position
              me as a reliable and dynamic Flutter developer in the rapidly
              evolving tech landscape.
            </p>
            <p class="mb-4 text-ternary-dark dark:text-ternary-light text-lg">
              Beyond technical prowess, I bring analytical thinking, robust
              problem-solving skills, and clear communication abilities to the
              table. I am confident that my profound expertise and collaborative
              mindset make me an invaluable asset to any Flutter development
              team. I'm eager to contribute to projects that demand innovation,
              scalability, and excellence in mobile application development with
              Flutter.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div
          class="mt-10 sm:mt-20 bg-primary-light dark:bg-ternary-dark shadow-sm"
        >
          <div
            class="font-general-medium container mx-auto py-5 block sm:flex sm:justify-center items-center"
          >
            <div class="m-20">
              <h2
                class="text-4xl text-center text-secondary-dark dark:text-secondary-light mb-2"
              >
                5+<span id="experienceCounter"></span>
              </h2>
              <span
                class="font-general-regular block text-md text-center text-ternary-dark dark:text-ternary-light"
                >Years of experience</span
              >
            </div>
            <div class="m-20">
              <h2
                class="text-4xl text-center text-secondary-dark dark:text-secondary-light mb-2"
              >
                30+<span id="projectsCounter"></span>
              </h2>
              <span
                class="font-general-regular block text-md text-center text-ternary-dark dark:text-ternary-light"
                >Projects completed</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
