<div class=" bg-secondary-light dark:bg-primary-dark transition duration-300">

    <div>
        <div class="container mx-auto">
            <div>
                <p
                    class="font-general-medium text-left text-3xl sm:text-4xl font-bold text-primary-dark dark:text-primary-light mt-14 sm:mt-20 mb-7">
                    Google Health Platform</p>
                <div class="flex">
                    <div class="flex items-center mr-10"><svg stroke="currentColor" fill="none" stroke-width="2"
                            viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                            class="text-xl text-ternary-dark dark:text-ternary-light" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10"></circle>
                            <polyline points="12 6 12 12 16 14"></polyline>
                        </svg><span
                            class="font-general-regular ml-2 leading-none text-primary-dark dark:text-primary-light">Jul
                            26, 2021</span></div>
                    <div class="flex items-center"><svg stroke="currentColor" fill="none" stroke-width="2"
                            viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                            class="w-4 h-4 text-ternary-dark dark:text-ternary-light" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z">
                            </path>
                            <line x1="7" y1="7" x2="7.01" y2="7"></line>
                        </svg><span
                            class="font-general-regular ml-2 leading-none text-primary-dark dark:text-primary-light">UI
                            / Frontend</span></div>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-10 mt-12">
                <div class="mb-10 sm:mb-0"><img alt="Google Health Platform" sizes="100vw"
                        srcSet="assets/images/ui-project-1.jpg?&amp;w=640&amp;q=75 640w, assets/images/ui-project-1.jpg?&amp;w=750&amp;q=75 750w, assets/images/ui-project-1.jpg?&amp;w=828&amp;q=75 828w, assets/images/ui-project-1.jpg?&amp;w=1080&amp;q=75 1080w, assets/images/ui-project-1.jpg?&amp;w=1200&amp;q=75 1200w, assets/images/ui-project-1.jpg?&amp;w=1920&amp;q=75 1920w, assets/images/ui-project-1.jpg?&amp;w=2048&amp;q=75 2048w, assets/images/ui-project-1.jpg?&amp;w=3840&amp;q=75 3840w"
                        src="assets/images/ui-project-1.jpg?&amp;w=3840&amp;q=75" width="100" height="90"
                        decoding="async" data-nimg="1" class="rounded-xl cursor-pointer shadow-lg sm:shadow-none"
                        loading="lazy" style="color:transparent;width:100%;height:auto" /></div>
                <div class="mb-10 sm:mb-0"><img alt="Google Health Platform" sizes="100vw"
                        srcSet="assets/images/web-project-2.jpg?&amp;w=640&amp;q=75 640w, assets/images/web-project-2.jpg?&amp;w=750&amp;q=75 750w, assets/images/web-project-2.jpg?&amp;w=828&amp;q=75 828w, assets/images/web-project-2.jpg?&amp;w=1080&amp;q=75 1080w, assets/images/web-project-2.jpg?&amp;w=1200&amp;q=75 1200w, assets/images/web-project-2.jpg?&amp;w=1920&amp;q=75 1920w, assets/images/web-project-2.jpg?&amp;w=2048&amp;q=75 2048w, assets/images/web-project-2.jpg?&amp;w=3840&amp;q=75 3840w"
                        src="assets/images/web-project-2.jpg?&amp;w=3840&amp;q=75" width="100" height="90"
                        decoding="async" data-nimg="1" class="rounded-xl cursor-pointer shadow-lg sm:shadow-none"
                        loading="lazy" style="color:transparent;width:100%;height:auto" /></div>
                <div class="mb-10 sm:mb-0"><img alt="Google Health Platform" sizes="100vw"
                        srcSet="assets/images/mobile-project-2.jpg?&amp;w=640&amp;q=75 640w, assets/images/mobile-project-2.jpg?&amp;w=750&amp;q=75 750w, assets/images/mobile-project-2.jpg?&amp;w=828&amp;q=75 828w, assets/images/mobile-project-2.jpg?&amp;w=1080&amp;q=75 1080w, assets/images/mobile-project-2.jpg?&amp;w=1200&amp;q=75 1200w, assets/images/mobile-project-2.jpg?&amp;w=1920&amp;q=75 1920w, assets/images/mobile-project-2.jpg?&amp;w=2048&amp;q=75 2048w, assets/images/mobile-project-2.jpg?&amp;w=3840&amp;q=75 3840w"
                        src="assets/images/mobile-project-2.jpg?&amp;w=3840&amp;q=75" width="100" height="90"
                        decoding="async" data-nimg="1" class="rounded-xl cursor-pointer shadow-lg sm:shadow-none"
                        loading="lazy" style="color:transparent;width:100%;height:auto" /></div>
            </div>
            <div class="block sm:flex gap-0 sm:gap-10 mt-14">
                <div class="w-full sm:w-1/3 text-left">
                    <div class="mb-7">
                        <p
                            class="font-general-regular text-2xl font-semibold text-secondary-dark dark:text-secondary-light mb-2">
                            About Client</p>
                        <ul class="leading-loose">
                            <li class="font-general-regular text-ternary-dark dark:text-ternary-light">
                                <span>Name<!-- -->: </span><a href="https://stoman.me" class=""
                                    aria-label="Project Website and Phone">Company Ltd</a>
                            </li>
                            <li class="font-general-regular text-ternary-dark dark:text-ternary-light">
                                <span>Services<!-- -->: </span><a href="https://stoman.me" class=""
                                    aria-label="Project Website and Phone">Web Development</a>
                            </li>
                            <li class="font-general-regular text-ternary-dark dark:text-ternary-light">
                                <span>Website<!-- -->: </span><a href="https://stoman.me"
                                    class="hover:underline hover:text-indigo-500 dark:hover:text-indigo-400 cursor-pointer duration-300"
                                    aria-label="Project Website and Phone">https://company.com</a>
                            </li>
                            <li class="font-general-regular text-ternary-dark dark:text-ternary-light">
                                <span>Phone<!-- -->: </span><a href="https://stoman.me"
                                    class="hover:underline hover:text-indigo-500 dark:hover:text-indigo-400 cursor-pointer duration-300"
                                    aria-label="Project Website and Phone">555 8888 888</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mb-7">
                        <p
                            class="font-general-regular text-2xl font-semibold text-ternary-dark dark:text-ternary-light mb-2">
                            Objective</p>
                        <p class="font-general-regular text-primary-dark dark:text-ternary-light">Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. Optio, natus! Quibusdam enim quod in
                            esse, mollitia molestias incidunt quas ipsa accusamus veniam.</p>
                    </div>
                    <div class="mb-7">
                        <p
                            class="font-general-regular text-2xl font-semibold text-ternary-dark dark:text-ternary-light mb-2">
                            Tools &amp; Technologies</p>
                        <p class="font-general-regular text-primary-dark dark:text-ternary-light">HTML, CSS,
                            JavaScript, Vue.js, TailwindCSS, AdobeXD</p>
                    </div>
                    <div>
                        <p
                            class="font-general-regular text-2xl font-semibold text-ternary-dark dark:text-ternary-light mb-2">
                            Share This</p>
                    </div>
                </div>
                <div class="w-full sm:w-2/3 text-left mt-10 sm:mt-0">
                    <p class="text-primary-dark dark:text-primary-light text-2xl font-bold mb-7">Challenge</p>
                    <p class="font-general-regular mb-5 text-lg text-ternary-dark dark:text-ternary-light">Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit. Nihil vel illum asperiores
                        dignissimos cumque quibusdam et fugiat voluptatem nobis suscipit explicabo, eaque
                        consequatur nesciunt, fugit eligendi corporis laudantium adipisci soluta? Lorem ipsum,
                        dolor sit amet consectetur adipisicing elit. Incidunt totam dolorum, ducimus obcaecati,
                        voluptas facilis molestias nobis ut quam natus similique inventore excepturi optio ipsa
                        deleniti fugit illo. Unde, amet! Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Ipsum illo necessitatibus perspiciatis! Aperiam perferendis labore temporibus, eos
                        culpa corporis recusandae quas, fuga voluptatibus nesciunt odit libero tenetur neque
                        consequatur ea.</p>
                    <p class="font-general-regular mb-5 text-lg text-ternary-dark dark:text-ternary-light">Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit. Nihil vel illum asperiores
                        dignissimos cumque quibusdam et fugiat voluptatem nobis suscipit explicabo, eaque
                        consequatur nesciunt, fugit eligendi corporis laudantium adipisci soluta?</p>
                    <p class="font-general-regular mb-5 text-lg text-ternary-dark dark:text-ternary-light">Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit. Nihil vel illum asperiores
                        dignissimos cumque quibusdam et fugiat voluptatem nobis suscipit explicabo, eaque
                        consequatur nesciunt, fugit eligendi corporis laudantium adipisci soluta?</p>
                    <p class="font-general-regular mb-5 text-lg text-ternary-dark dark:text-ternary-light">Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit. Nihil vel illum asperiores
                        dignissimos cumque quibusdam et fugiat voluptatem nobis suscipit explicabo, eaque
                        consequatur nesciunt, fugit eligendi corporis laudantium adipisci soluta? Lorem ipsum,
                        dolor sit amet consectetur adipisicing elit. Incidunt totam dolorum, ducimus obcaecati,
                        voluptas facilis molestias nobis ut quam natus similique inventore excepturi optio ipsa
                        deleniti fugit illo. Unde, amet! Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Ipsum illo necessitatibus perspiciatis! Aperiam perferendis labore temporibus, eos
                        culpa corporis recusandae quas, fuga voluptatibus nesciunt odit libero tenetur neque
                        consequatur ea.</p>
                </div>
            </div>
            <div class="mt-10 pt-10 sm:pt-14 sm:mt-20 border-t-2 border-primary-light dark:border-secondary-dark">
                <p
                    class="font-general-regular text-primary-dark dark:text-primary-light text-3xl font-bold mb-10 sm:mb-14 text-left">
                    Related Projects</p>
                <div class="grid grid-cols-1 sm:grid-cols-4 gap-10"><img alt="Mobile UI"
                        srcSet="assets/images/ui-project-2.jpg?&amp;w=640&amp;q=75 1x, assets/images/ui-project-2.jpg?&amp;w=828&amp;q=75 2x"
                        src="assets/images/ui-project-2.jpg?&amp;w=828&amp;q=75" width="400" height="400"
                        decoding="async" data-nimg="1" class="rounded-xl cursor-pointer" loading="lazy"
                        style="color:transparent" /><img alt="Web Application"
                        srcSet="assets/images/mobile-project-1.jpg?&amp;w=640&amp;q=75 1x, assets/images/mobile-project-1.jpg?&amp;w=828&amp;q=75 2x"
                        src="assets/images/mobile-project-1.jpg?&amp;w=828&amp;q=75" width="400" height="400"
                        decoding="async" data-nimg="1" class="rounded-xl cursor-pointer" loading="lazy"
                        style="color:transparent" /><img alt="UI Design"
                        srcSet="assets/images/web-project-1.jpg?&amp;w=640&amp;q=75 1x, assets/images/web-project-1.jpg?&amp;w=828&amp;q=75 2x"
                        src="assets/images/web-project-1.jpg?&amp;w=828&amp;q=75" width="400" height="400"
                        decoding="async" data-nimg="1" class="rounded-xl cursor-pointer" loading="lazy"
                        style="color:transparent" /><img alt="Kabul Mobile App UI"
                        srcSet="assets/images/mobile-project-2.jpg?&amp;w=640&amp;q=75 1x, assets/images/mobile-project-2.jpg?&amp;w=828&amp;q=75 2x"
                        src="assets/images/mobile-project-2.jpg?&amp;w=828&amp;q=75" width="400" height="400"
                        decoding="async" data-nimg="1" class="rounded-xl cursor-pointer" loading="lazy"
                        style="color:transparent" /></div>
            </div>
        </div>
    </div>
</div>